.label-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.label-left label {
    align-self: flex-start;
    margin-bottom: 5px;
}

.label-left input {
    padding: 5px;
    margin-bottom: 10px;
    margin-left: 5px;
}

.form-type {
    font-weight: bold;
}

.label-left fieldset {
    border: 1px solid #ccc;
    padding: 10px;
}

.label-left legend {
    font-weight: bold;
    margin-bottom: 10px;
}

label {
    font-size: 0.9rem;
}