<%- include("../partials/header"); %>

    <div class="article">
        <h1>About!</h1>
        <p>This website was created for the customer Waleed at Blekinge Institute of Technology.</p>
        <p>Webiste creator is susm20.</p>
    </div>
					
<%- include("../partials/footer"); %>
