<%- include("../partials/header"); %>

    <div class="article">
        <h1>Welcome to StudyBuddy!</h1>
        <p>This webapp is used for learners to create own quizlets and questions, in order for them to memorize and learn as they go on.</p>
        <p>To get started, just click on the courses link to the left to see what courses are available.</p>
    </div>
					
<%- include("../partials/footer"); %>
