<%- include("../partials/header"); %>

<script>
    let index=1;

    function nextQuestion() {
        index++;
    }

</script>

<h1></h1>

    <div class="main-cards">
        <div class="card-preview">
            <p>
                <%= res[index].question_text %>
            </p>
        </div>
    </div>
        
        <button class="nextBTN" onclick="nextQuestion()">>Next</button>
        <button class="previousBTN">Previous</button>
<%- include("../partials/footer"); %>
