<%- include("../partials/header"); %>

<h1></h1>

<script>
</script>

<div class="main-question card" onclick="this.classList.toggle('flipcard')">
    <div class="questions-preview front">
        <p>
        <%= res[0].question_text %>
      </p>
    </div>
    <div class="questions-preview back">
      <p>
        <%= res[0].answer %>
      </p>
    </div>
  </div>

  
  <div class="buttons">
    <button class="pBTN" onclick="showQuestion('prev')">Previous</button>
    <button class="nBTN" onclick="showQuestion('next')">Next</button>
  </div>

  <script src="../../src/prevNext.js"></script>
    
<%- include("../partials/footer"); %>
