<%- include("../partials/header"); %>

<h1>Choose a subject to work with</h1>

<a href="/create-subject"> Create new subject </a>

<div class="main-cards">
    <% for (const row of res) { %>
        <div class="card-preview">
            <p>
                <a href="subject-view/<%= row.subject_id%>"><%= row.name %></a>
            </p>
        </div>
    <% }; %>
</div>
        
<%- include("../partials/footer"); %>
